fastapi
uvicorn
pydantic
pydantic-settings
python-multipart

groq
requests

sentence-transformers
chromadb
pdfplumber
PyPDF2
langchain-text-splitters

playwright
pandas
matplotlib
Pillow

grpcio
grpcio-tools
protobuf
edge-tts
